{% extends "base.html" %}

{% block content %}

<div class="rounded; mx-auto" style="width: 450px; margin:20px 0px 0px 0px; background: rgb(192, 192, 192)"> 
    <div class="column is-4 is-offset-4">
     <br>
       <h3 class="font-weight-bold" style="margin:10px 0px 20px 20px;">Imposta la nuova password</h3>
       <div class="box" align="center">
            <form method="POST" action="/reset_password/<token>">
                <div class="form-group" style="margin:20px 10px 20px 10px;">
                    <input type="email" class="form-control" name="email" placeholder="email">
                    <input type="password" class="form-control" name="new_password" placeholder="nuova password">
                    <input type="password" class="form-control" name="confirmed_new_password" placeholder="conferma password">
                    <br>
                    <button type="submit" class="btn btn-light" style="margin-bottom:15px">Resetta password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}