{% extends "base.html" %}

{% block content %}

<div class="rounded; mx-auto" style="width: 450px;height: 200px; margin:20px 0px 0px 0px; background: rgb(192, 192, 192)"> 
    <div class="column is-4 is-offset-4">
     <br>
       <h3 class="font-weight-bold" style="margin:10px 0px 20px 40px;">Vuoi resettare la password?</h3>
       <div class="box">
            <form method="POST" action="/reset_password">
                <div class="border-0 rounded" style="margin:40px 0px 0px 50px;">
                    <input type="email" class="form-control" style="width:350px;" name="email" placeholder="email">
                        <button type="submit" style="margin-top:5px; margin-left: 130px;" class="btn btn-light">Invia</button>
                    </input>
                </div>
            </form>
        </div>
    </div>
</div>
         
{% endblock %}